.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #004952; FONT-FAMILY: Verdana
}
.links {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #075964; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.links:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3a8c97; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #004952; FONT-FAMILY: Verdana
}
.text {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: Verdana
}
A:hover {
	COLOR: #d07429; TEXT-DECORATION: none
}
.footer {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.footer:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #82c6cf; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
